@import "tailwindcss";


:root {
  --color-primary: #8e1dd1;
  --color-secondary: #F7B5CD;
  --color-accent: #FFE361;
  --color-text: #231F20;
  --color-background: #fbf5f8;
  --background: var(--color-background);
  --foreground: var(--color-text);
  --font-family: Arial, Helvetica, sans-serif;
  --font-size: 16px;
}



/* Las variables de color globales se pueden actualizar dinámicamente desde el dashboard usando JS */


@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-text: #ededed;
    --background: var(--color-background);
    --foreground: var(--color-text);
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  font-size: var(--font-size);
}
